body {
  min-height: 2000px;
  padding-top: 70px;
}
.dropdown-menu{
	min-width:500px;
}

.navbar-collaps.nav{
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; 
	/*color:#DB5151; 
	font-weight: bold
*/
}